extends layout

block content
    .header
      a.suggestions(href="mailto:mkrumm@simplymeasured.com") Suggestions
    .container
        img(src="/images/SM_logo.png")
        h1= title
        h2 What's On the Menu This Week?
        .lunches
        
            




    script(src="javascripts/get_lunches.js")



