extends layout

block content
  .container
    h1= title
    p Welcome to #{title}
    .lunches
      p Here are the lunches for this week:
    ul
      li poop
      li more poop
    



    script(src="javascripts/get_lunches.js")



