extends layout

block content
    .header
      a.suggestions(href="mailto:mkrumm@simplymeasured.com") Suggestions
    .container
        img(src="/images/SM_logo.png")
        h1= title
        h3 What's On the Menu This Week?
    .content
        ul.lunches
            li



    script(src="javascripts/get_lunches.js")



